

    .panel-heading {
    padding: 5px 15px;
}

.panel-footer {
	padding: 1px 15px;
	color: #A0A0A0;
}

.profile-img {
	width: 160px;
	height: 105px;
	margin: 0 auto 30px;
	display:  block;
	-moz-border-radius: 5%;
	-webkit-border-radius: 50%;
	border-radius: 5%;
    
}



